<div style="text-align: center">
    <h1 style="margin:50px">Welcome to the College Portal</h1>
    <blockquote class="blockquote text-center">
        <p class="mb-0">"An investment in knowledge always pays the best interest."</p>
        <footer class="blockquote-footer" style="margin:10px"><cite title="Source Title">Benjamin Franklin</cite></footer>
    </blockquote>
        <div style="margin: 50px">
            <%= image_tag('homeImage.png', style: "height: 250px; width: 360px") %>
        </div>
    </div>

