<div style="text-align: center">
    <h1>Welcome to the College Portal</h1>
        <div style="margin: 50px">
            <%= image_tag('homeImage.png', style: "height: 300px; width: 420px") %>
        </div>
    </div>
